.book-consultation-header {
    display: flex;
    flex-direction: row;
    position: fixed;
    background-color: #e6f9ff;
    justify-content: space-between;
    top: 0;
    right: 0;
    left: 0;
    height: 70px;
    align-items: center;
  }
  
  .medic-old-logo {
    height: 50px;
    margin-left: 60px;
    vertical-align: middle;
  }
  
  .medic-logo-container {
    height: 40px;
    vertical-align: middle;
    
  }
  
  .remaining-header {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #008080;
    
    
  }
  
  .remaining-header:hover {
    text-decoration: underline;
    cursor: pointer;
  }
  
  .remaining-header:active {
    opacity: 0.5;
  }
  
  
  
  .last-header {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #008080;
    vertical-align: middle;
    margin-right: 70px;
  }
  
  .last-header:hover {
    text-decoration: underline;
    cursor: pointer;
  }
  
  .last-header:active {
    opacity: 0.5;
  }
  
  .prof-image {
    height: 40px;
    border-radius: 20px;
    vertical-align: middle;
    margin-left: 20px;
  }

  .on-page {
    margin-top: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 50px;
  }
  
  
  
  .symptoms-text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #070777;
  }
  
  .texts-inputs {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
  }
  
  .tag-symptoms {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-right: 40px;
  }

  
  .first-input {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    display: block;
    padding: 15px;
    width: 100%;
    padding-right: 35px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .second-input {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding: 15px;
    width: 100%;
    padding-right: 35px;
    border: 1px solid #ccc;
    border-radius: 5px;
    
  }
  
  .tag-doctors {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
  }
  
  .tag-doc {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-right: 74px;
  }
  
  .third-input {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding-top: 10px;
    padding-left: 15px;
    padding-bottom: 10px;
    padding-right: 90px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .book {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 60px;
  }
  
  .book-button {
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #070777;
    color: white;
    border: none;
    border-radius: 5px;
  }
  
  .book-button:hover {
    cursor: pointer;
    opacity: 0.8;
  }
  
  .book-button:active {
    opacity: 0.5;
  }
  
  .book-text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: #070777;
    margin-top: 20px;
  }
  
  .book-text:hover {
    cursor: pointer;
    opacity: 0.8;
    text-decoration: underline;
  }
  
  .book-text:active {
    opacity: 0.5;
  }
  
  .consult-text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #070777;
  }
  
  .doctors {
    background-color: #e6f9ff;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-top: 50px;
    padding-right: 100px;
    padding-left: 5px;
    border-radius: 5px;
  }
  
  .doc-text {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #008080;
  }
  
  .doctor-images {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
  }
  
  .doc-1 {
    height: 50px;
    border-radius: 25px;
    width: 50px;
    margin-right: 10px;
  }
  
  .doc-1:hover{
    cursor: pointer;
    opacity: 0.7;
  }
  
  .doc-1:active {
    opacity: 0.5;
  }
  
  .doc-button {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    border-radius: 50%;
    padding: 0;
    height: 50px;
    width: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
    background-color: darkgray;
  }
  
  .doc-button:hover {
    cursor: pointer;
    opacity: 0.8;
  }
  
  .doc-button:active {
    opacity: 0.5;
  }
  