.medical-record-header {
    display: flex;
    flex-direction: row;
    position: fixed;
    background-color: #e6f9ff;
    justify-content: space-between;
    top: 0;
    right: 0;
    left: 0;
    height: 70px;
    align-items: center;
  }
  
  .medic-old-logo {
    height: 50px;
    margin-left: 60px;
    vertical-align: middle;
  }
  
  .medic-logo-container {
    height: 40px;
    vertical-align: middle;
    
  }
  
  .remaining-header {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #008080;
    
    
  }
  
  .remaining-header:hover {
    text-decoration: underline;
    cursor: pointer;
  }
  
  .remaining-header:active {
    opacity: 0.5;
  }
  
  
  
  .last-header {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #008080;
    vertical-align: middle;
    margin-right: 70px;
  }
  
  .last-header:hover {
    text-decoration: underline;
    cursor: pointer;
  }
  
  .last-header:active {
    opacity: 0.5;
  }
  
  .prof-image {
    height: 50px;
    border-radius: 25px;
    vertical-align: middle;
    margin-left: 20px;
  }
  
  