{%load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Dashboard Page</title>
    <link rel="stylesheet" href="{% static 'css/dashbord.css' %}">
  </head>
  <body>
    <div class="dashboard-header">
      <div class="medic-logo-container">
        <img class="medic-old-logo" src="{% static 'icons/medic-old logo.jpg' %}">
      </div>
      {% if user %}
        <a href="{% url 'dashboard' %}" style="text-decoration: none"> <div class="remaining-header">Dashboard</div> </a>
        <a href="{% url 'reminder' %}" style="text-decoration: none"> <div class="remaining-header">Reminder</div> </a>
        <a href="{% url 'history' %}"style="text-decoration: none"><div class="remaining-header">Health Information</div></a>
        <a href="{% url 'dashboard' %}" style="text-decoration: none"><div class="remaining-header">Activity Tracking</div></a>
        <a href="{% url 'dashboard' %}"style="text-decoration: none"><div class="remaining-header">Book Consultation</div></a>
        <a href="{% url 'dashboard' %}"style="text-decoration: none"><div class="remaining-header">About</div></a>
        <a href="{% url 'logout' %}"style="text-decoration: none"><div class="last-header">Logout <img class="prof-image" src="{{ user.avatar.url }}" alt="Avatar"></div></a>
    </div>
    <div class="activities-container">
      <div title="Search more activities"><img class="exercise-photo" src="activities photos/Activities (exercise).jpg"></div>
      <div title="Search and watch more videos"><img class="videos-photo" src="activities photos/Activity(watch videos).jpg"></div>
      <div title="Connect with other users"><img class="connect-photo" src="activities photos/Activity(connect with others).jpg"></div>
    </div>
    
  </body>
</html>