{%load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Health-Informarion Page</title>
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    {% comment %} <link rel="stylesheet" href="style/medical-record-on-page.css"> {% endcomment %}
  </head>
  <body>
    <div class="medical-record-header">
      <div class="medic-logo-container">
        <img class="medic-old-logo" src="{% static 'icons/medic-old logo.jpg' %}">
      </div>
      {% if user %}
      <a href="{% url 'dashboard' %}" style="text-decoration: none"> <div class="remaining-header">Dashboard</div> </a>
      <a href="{% url 'reminder' %}" style="text-decoration: none"> <div class="remaining-header">Reminder</div> </a>
      <a href="{% url 'history' %}"style="text-decoration: none"><div class="remaining-header">Health Information</div></a>
      <a href="{% url 'activitiesTracker' %}" style="text-decoration: none"><div class="remaining-header">Activity Tracking</div></a>
      <a href="{% url 'dashboard' %}"style="text-decoration: none"><div class="remaining-header">Book Consultation</div></a>
      <a href="{% url 'about' %}"style="text-decoration: none"><div class="remaining-header">About</div></a>
      <a href="{% url 'logout' %}"style="text-decoration: none"><div class="last-header">Logout <img class="prof-image" src="{{ user.avatar.url }}" alt="Avatar"></div></a>
    </div>
    <div class="profile-on-page">
      <div class="first-page-column">
        <div class="profile-and-medical-description">
          <div class="profile-and-name">
            <div><img class="profile-pic" src="{{ user.avatar.url }}"></div>
            <p class="name">Mr. {{user}}</p>
          </div>
          <div class="medical-description">
            
            {% if health_info_list == '' %}
                <a href="{% url 'health_information_creation' %}" style="text-decoration: none">&plus; Add your health Information</a>
            {% else %}
                <a href="{% url 'health_information_update' pk=1%}">&plus; Modify your health Information</a>
            {% endif %}
            <p class="age">Age&colon; {{user.age}}</p>

            {% for health_info in health_info_list %}
            <hr class="line line1">
            <p class="description-headings">Health condition &colon;</p>
            <p class="description">{{health_info.health_condition}}</p>
            <hr class="line line2">
            <p class="description-headings">Drugs prescribed &colon;</p>
            <p class="description">{{health_info.drugs_prescribed}}</p>
            <hr class="line line3">
            <p class="description-headings">Complains &colon;</p>
            <p class="complains-one">{{health_info.complaints}}</p>
            <hr class="line line4">
            <p class="description-headings">Consultant &colon;</p>
            <p class="description">{{health_info.consultant}}</p>
            <hr class="line line5">
            <p class="description-headings">Call consultant</p>
            <p class="description">audio call / video call</p>
          </div>
        </div>
      </div>
      <div class="second-page-column">
        <a href="{% url 'health_information_creation' %}"style="text-decoration: none"><p class="add-record">Add medical record</p></a>
        {% comment %} <input type="file" name='avatar'><br> {% endcomment %}
        <button name='avatar' class="uplodad-button">Upload file</button>
        <p class="upload-format">PDF files only</p>
        {% endfor %}
        {% endif %}
      </div>
    </div>
  </body>
</html>
